{{> navbar }}

<header class="m-5">
  <h2 class="text-center text-light">T E C H B L O G</h1>
<h5 class="text-center text-light fst-italic">A sleek, engaging, and user-friendly blog covering all aspects of technology!</h5>

</header>

<div class="card m-5">
<div class="card-header text-center text-light fs-3">Recent posts</div> 
  <div class="card-body">
    {{#each posts as |post|}}
      <div class="card m-2">
        <div class="card-header fs-3">
          <a href="/{{post.id}}">{{post.title}} by {{post.user.username}}</a>
        </div>
        <div class="card-body">
          <h4 class="fs-4">{{post.content}}</h4>
          <small>Created: {{post.createdAt}}</small>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{> bootstrapjs}}